body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

.owl-carousel {
  height: 100vh; /* Define a altura inicial do carrossel como 100% da altura da janela do navegador */
  overflow: hidden; /* Oculta o conteúdo que extrapola a altura do carrossel */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Ou space-between, dependendo da sua preferência */
  align-items: center; /* Alinha os itens no centro verticalmente */
}

.bg-carousel {  
  min-height: 100vh; /* Define uma altura mínima para os itens do carrossel */
  width: 100%; /* Garante que o item do carrossel tenha 100% da largura */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.owl-carousel-caption{
  position: relative;
  text-transform: capitalize;
  text-align: center;
  top: 150px;
  font-size: 43px;
  color: white;
}

#logo-header{
  width: 140px;
  position: absolute;
  top: 30px;
  left: 5vw;
  z-index: 10;
}