:root{
  --t1: 'Gilda Display';
  --t2: 'Barlow Condensed';
  --texto: 'Barlow';
  --cor-titulo: rgb(255, 255, 255);

}

.titulo1, .titulo2{
  color: var(--cor-titulo);
  text-transform: uppercase;
}

.titulo2{
  font-size: 28px;
  font-family: var(--t2);
}

.titulo1{
  font-size: 50px;
  font-family: var(--t1);
  font-weight: lighter;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1b1b1b;
  
}

/*Logotipo*/
#logo-header{
  width: 140px;
  position: absolute;
  top: 30px;
  left: 5vw;
  z-index: 10;
}

/*Owl Carousel*/

.owl-carousel {
  height: 100vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center; 
  
}

.bg-carousel {  
  min-height: 100vh; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

}


.bg-carousel::before {  /* ::before ira executar isto antes do .bg-carousel*/
  content: ''; /* Cria um conteudo vazio */
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}


.owl-carousel-caption{
  position: relative;
  text-align: center;
  top: 180px;
  width: 850px;
  margin: auto;
}



/*sdfsdfsdf*/
#dv-reserva{
  display: flex;
  position: absolute;
  z-index: 10;
  top: 600px;
  justify-content: center;
}



