:root{
  --t1: 'Gilda Display';
  --t2: 'Barlow Condensed';
  --texto: 'Barlow';
  --cor-titulo: rgb(255, 255, 255);
  --cor-titulo2: #aa8453;

  --bg-cinza1:#1b1b1b;
  --bg-cinza2:#202020;
  --cor-texto:rgba(255,255,255,0.5);

}

p{
  color: var(--cor-texto);
}

.titulo1, .titulo2{
  text-transform: uppercase;
  letter-spacing: 7px;
}

.titulo2{
  color: var(--cor-titulo2);
  font-size: 20px;
  font-family: var(--t2);
}

.titulo1{
  color: var(--cor-titulo);
  font-size: 50px;
  font-family: var(--t1);
  font-weight: lighter;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-cinza1);
  
}

/*Logotipo*/
#logo-header{
  width: 140px;
  position: absolute;
  top: 30px;
  left: 5vw;
  z-index: 10;
}

/*Owl Carousel*/

.owl-carousel {
  height: 100vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center; 
  
}

.bg-carousel {  
  min-height: 100vh; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.bg-carousel::before {  /* ::before ira executar isto antes do .bg-carousel*/
  content: ''; /* Cria um conteudo vazio */
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}


.owl-carousel-caption{
  position: relative;
  text-align: center;
  top: 180px;
  max-width: 850px;
  width: 80vw;
  margin: auto;
}



/*sdfsdfsdf*/
#dv-reserva{
  display: flex;
  position: absolute;
  z-index: 10;
  top: 600px;
  justify-content: center;
}


.div-cx{
  background-color: var(--bg-cinza2);
}

.div-cx img{
  width: 100% !important;
  height: auto !important;
  
  max-width: 261px!important;
}

.row-max{
  max-width: 1140px;
}

.div-quartos img{
  width: 100% !important;
  height: auto !important;
  
  min-width: 216px!important;

}

.img-quartos{
  text-align: center;
  padding: 15px;
  
}

.div-video{
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}




.card-extra{
  border: 1px solid red;
  width: 250px !important;
  height: 350px;
  background-color: wheat;
}

@media screen and (max-width:991px) {
  .titulo2{
    font-size: 26px; 
    transform: font-size 1s;
  }
  
  .titulo1{
    font-size: 35px; 
  }
}

@media screen and (max-width:767px) {
  .titulo2{
    font-size: 22px; 
  }
  
  .titulo1{
    font-size: 33px; 
  }
}

@media screen and (max-width:575px) {
  .titulo2{
    font-size: 20px; 
  }
  
  .titulo1{
    font-size: 30px; 
  }
}