@font-face {
    font-family: 'Gilda Display';
    src: url('GildaDisplay-Regular.eot');
    src: url('GildaDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('GildaDisplay-Regular.woff2') format('woff2'),
        url('GildaDisplay-Regular.woff') format('woff'),
        url('GildaDisplay-Regular.ttf') format('truetype'),
        url('GildaDisplay-Regular.svg#GildaDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Thin.eot');
    src: url('BarlowCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('BarlowCondensed-Thin.woff2') format('woff2'),
        url('BarlowCondensed-Thin.woff') format('woff'),
        url('BarlowCondensed-Thin.ttf') format('truetype'),
        url('BarlowCondensed-Thin.svg#BarlowCondensed-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Bold.eot');
    src: url('BarlowCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('BarlowCondensed-Bold.woff2') format('woff2'),
        url('BarlowCondensed-Bold.woff') format('woff'),
        url('BarlowCondensed-Bold.ttf') format('truetype'),
        url('BarlowCondensed-Bold.svg#BarlowCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Light.eot');
    src: url('BarlowCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('BarlowCondensed-Light.woff2') format('woff2'),
        url('BarlowCondensed-Light.woff') format('woff'),
        url('BarlowCondensed-Light.ttf') format('truetype'),
        url('BarlowCondensed-Light.svg#BarlowCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.eot');
    src: url('Barlow-Regular.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff'),
        url('Barlow-Regular.ttf') format('truetype'),
        url('Barlow-Regular.svg#Barlow-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.eot');
    src: url('Barlow-Bold.eot?#iefix') format('embedded-opentype'),
        url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff'),
        url('Barlow-Bold.ttf') format('truetype'),
        url('Barlow-Bold.svg#Barlow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

